@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Démonstrations</title>
</head>
<body>
    <h1>Démonstrations</h1>
    <!-- Voici le code Emmet Abbreviation -->
    <!-- nav>ul>li*3>a{Démonstration $} -->
    <nav>
        <ul>
            <li>@Html.ActionLink("Démonstration 1","demo01")</li>
            <li>@Html.ActionLink("Démonstration 2", "demo02")</li>
            <li>@Html.ActionLink("Démonstration 3 - Shop", "index", "shop")</li>
            <li>@Html.ActionLink("Démonstration 4", "demo04")</li>
            <li>@Html.ActionLink("Démonstration 5", "demo05")</li>
            <li>@Html.ActionLink("Démonstration 6", "demo06")</li>
            <li>@Html.ActionLink("Démonstration 7", "demo07")</li>
        </ul>
    </nav>
</body>
</html>